<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Editar Grupo Sanguineo</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Inicio</a>
                </li>
				 <li>
                    <a href="/grupos-sanguineos">Grupos Sanguineos</a>
                </li>
                <li class="active">
                    <strong>Editar Grupo Sanguineo</strong>
                </li>
            </ol>
        </div>
</div>
 

<div class="container col-md-4 mt-3 mx-auto bg-light">
<form action="/grupos-sanguineos/{{grupo_sanguineo.id}}?_method=PUT" method="post" class="pt-2">

<div class="form-group">
   <label for="nombre">Nombre</label>
   <input type="text" class="form-control" placeholder="Nombre" autofocus name="nombre" id="nombre" required value="{{grupo_sanguineo.nombre}}">
</div>

<button class="btn btn-primary" type="submit">Editar</button>

</form>

</div>

