<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Nuevo Estado Civil</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Inicio</a>
                </li>
				 <li>
                    <a href="/estado-civil">Estados Civiles</a>
                </li>
                <li class="active">
                    <strong>Nuevo Estado Civil</strong>
                </li>
            </ol>
        </div>
</div>


<div class="container col-md-4 mt-3 mx-auto bg-light">
<form action="/estado-civil/nuevo" method="POST" class="pt-2">

<div class="form-group">
   <label for="nombre">Nombre</label>
   <input type="text" class="form-control" placeholder="Nombre" autofocus name="nombre" id="nombre" required>
</div>


<button class="btn btn-primary" type="submit">Aceptar</button>

</form>

</div>

