<!-- Sidebar  -->
    <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Nómina<span style="font-size:12px">2020</span>&nbsp;<span style="font-size:10px"><i>ver 1.0</i></span></h3>
                <strong>N</strong>
            </div>
    
            <ul class="list-unstyled components">
			    <li class="active">
				    <a href="">
					 <i class="fas fa-home" ></i>
                        Inicio
				     </a>
				</li>
				
                <li >
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                       
                        Conceptos
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Item 1</a>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                   
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        
                        Empleados
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Item 1</a>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
    
        </nav>	