<!-- Sidebar  -->
    <nav id="sidebar">
            <div class="sidebar-header">
               <img src="/public/images/logo.png" class="img-fluid" style="width:180px" >
            </div>
    
            <ul class="list-unstyled components">
			    {{#if user}}
				 
				
                <li >
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                       
                        Conceptos
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Item 1</a>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                   
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        
                        Empleados
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Item 1</a>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
				
				<li>
                   
                    <a href="#pageSubmenuUsers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Perfiles
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenuUsers">
                        <li>
                            <a href="/usuarios">Usuarios</a>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
				
				<li>
                   
                    <a href="#pageMantenimiento" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        
                        Mantenimiento
                    </a>
                    <ul class="collapse list-unstyled" id="pageMantenimiento">
                        <li>
                            <a href="/cargos">Cargos</a>
                        </li>
						<li>
                            <a href="/tipos-nominas">Tipos Nomina</a>
                        </li>
						<li>
                            <a href="/departamentos">Departamentos</a>
                        </li>
						<li>
                            <a href="/sexo">Sexo</a>
                        </li>
						
						<li>
                            <a href="/grupos-sanguineos">Grupos Sanguineos</a>
                        </li>
						
						<li>
                            <a href="/estado-civil">Estado civil</a>
                        </li>
                     </ul>
                </li>
				
				<li >
							
						<form action="/logout?_method=DELETE" method="POST">
							<button type="submit"  class="nav-link btn btn-xs btn-none text-warning font-weight-bold">Cerrar sesi&oacute;n</button>
						</form>
                               
                </li>
				
				 
				{{/if}}
				
            </ul>
    
        </nav>	